@media (max-width:1024px){
   
    .orders-1{
        order: 1;
      }
      .orders-2{
          order: 2;
      }
      .orders-3{
          order: 3;
      }
      .orders-4{
          order: 4;
      }
      .orders-5{
          order: 5;
      }
      .orders-6{
          order: 6;
      }
      .text-responsive{
        margin-top: 10px;
      }
      .faq .faq-container .faq-item h3 {
        font-size: 17px !important;
      }
      .text-margin{
        margin-top: 10px;
        font-size: 23px !important;
      }
      .text-direction{
        text-align: center;
      }
     
}
@media (max-width:767px){
   
    .orders-1{
        order: 1;
      }
      .orders-2{
          order: 2;
      }
      .orders-3{
          order: 3;
      }
      .orders-4{
          order: 4;
      }
      .orders-5{
        order: 5;
    }
    .orders-6{
        order: 6;
    }
      .text-what{
        margin-top: 1rem;
      }
      .width-img{
        width: 100% !important;
      }
      .summary-text{
        width: 100% !important;
      }
      .faq .faq-container .faq-item h3 {
        font-size: 12px !important;
      }
      .text-responsive{
        margin-top: 10px;
      }
      .space{
        margin-top: 15px !important;
      }
      .faq-group{
        margin-top: 15px;
      }
      .faq-group p{
        font-size: 13px;
      }
      .text-margin{
        margin-top: 10px;
      }
      .text-direction{
        text-align: center;
      }

      .png-1{
        order: 1;
      }
      
      .text-1{
        order: 2;
      }
      .png-2{
        order: 3;
      }
      .text-2{
        order: 4;
      }
      .png-3{
        order: 5;
      }
      .text-3{
        order: 6;
      }

      .btn-size{
        font-size: 14px !important;
      }

      .text-mt h3{
        margin-top: 20px;
      }

      .our-work-group h5{
        font-size: 17px;
      }
      .our-work-group p{
        font-size: 13px;
      }

      .siz-text h2{
        font-size: 25px;
      }
      
      .siz-text p{
        font-size: 15px;
      }
      .our-work-padg-1 h4{
        font-size: 20px;
      }
      .our-work-padg-1 li{
        font-size: 15px;
      }
      .key-size {
        font-size: 20px;
      }
      .size-int h3{
        font-size: 23px !important;
      }
      .size-int p{
        font-size: 15px !important;
      }
      .faq-size h3{
        font-size: 20px ;
      }
      .faq-size p{
        font-size: 15px ;
      }
     


}